<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap-social.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap"
      rel="stylesheet"
    />

    <nav>
      <div class="logo">
        <h1>Daily Journel</h1>
      </div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT US</a></li>
        <li id="contact"><a href="/contact">CONTACT US</a></li>
        <li id="login"><a href="/posts">POSTS</a></li>
      </ul>
    </nav>

    <body>
      <div class="container"></div>
      <script>
        const hamburger = document.querySelector(".hamburger");
        const navLinks = document.querySelector(".nav-links");
        const links = document.querySelectorAll(".nav-links li");

        hamburger.addEventListener("click", () => {
          navLinks.classList.toggle("open");
          links.forEach((link) => {
            link.classList.toggle("fade");
          });
        });
      </script>
    </body>
  </head>
</html>
