* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}
body,
.jumbotron {
  background-color: #007180;
  color: white;
  line-height: 4rem;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}
h1,
p,
a,
label,
h3,
h4,
span {
  color: #fff;
  font-family: "Lemonada", cursive;
}

h1,
p,
h3,
h4 {
  margin-left: 80px;
  margin-right: 80px;
  line-height: 3rem;
}

.btnn {
  border: 2px solid black;
  font-size: 2.5rem;
  margin: 8px 7px;
  font-weight: bold;
  color: white;
  background-color: #1abc9c;
  width: 400px;
  height: 44px;
  text-align: center;
  text-decoration: none !important;
}

[role="button"] {
  cursor: pointer;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

nav {
  height: 10vh;
  background: black;
  display: flex;
}

.logo h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-left: 60px;
  height: 10vh;
  color: #1abc9c !important;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li a:hover {
  color: #1abc9c;
}

@media screen and (max-width: 1000px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 13;
  }

  .nav-links {
    position: fixed;
    background: BLACK;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* Distance from left and top */
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 2;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}

.lead {
  color: grey;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #1abc9c;
}

.containerAuth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logoff li {
  list-style: none;
}
.logoff a {
  border: 2px solid black;
  font-size: 2rem;
  display: inline-block;
  width: 50vw;
  text-decoration: none;
  color: #1abc9c;
  background-color: black;
  text-align: center;
}

.logoff a:hover {
  color: aqua;
  background-color: rgb(24, 22, 22);
  text-decoration: none;
}

.delete {
  float: right;
  margin-right: 100px;
}

.form-group {
  width: 87%;
  margin: auto;
}

.form-group button {
  margin: 15px 0;
}

.reg {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}
